.container {
  padding: 16px;
  background-color: #333;
  color: white;
  display: flex;
  width: auto;
  max-width: 300px; /* Set a reasonable width for the dropdown */
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%; /* Position the dropdown directly below the selection button */
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
  margin: 0 auto;
}
