/* SearchBar.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
}

/* Input with rounded edges on both sides */
.inputRounded {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  outline: none;
}

/* Input with flat left side */
.inputLeftFlat {
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none; /* No right border for input when button is on the right */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 300px;
  outline: none;
}

/* Input with flat right side */
.inputRightFlat {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none; /* No left border for input when button is on the left */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 300px;
  outline: none;
}

/* Button styles */
.button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
}

.button:hover {
  background-color: #45a049;
}

/* Error message styles */
.errorMessage {
  color: red;
  margin-top: 10px;
}
